* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #868686;
  font-family: "Liberation Sans", sans-serif;
  padding: 2rem;
}
h1 {
  margin: 1em auto;
  text-align: center;
}
.hidden {
  display: none;
}
.timer-container {
  width: 100%;
  max-width: 650px;
  min-width: 250px;
  margin: auto;
  border: 1px solid #dadce0;
  border-radius: 8px;
  overflow: hidden;
}
.top-row {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.middle-row {
  font-size: 4vw;
  width: 100%;
  border-bottom: 1px solid #dadce0;
  padding: 1rem 2rem;
}
.middle-row .time-wrapper {
  padding: 0.5em;
  width: fit-content;
}
.middle-row .time-wrapper.active {
  border-bottom: 2px solid #4285f4;
}
.middle-row {
  border-bottom: 1px solid #dadce0;
  position: relative;
}
#input-form {
  padding: 1rem 0;
}

#timer {
  font-size: 5vw;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#timer span {
  pointer-events: none;
}
#timer small {
  /* margin-left: -0.2em; */
  font-size: 0.5em;
  pointer-events: none;
}
.progress-bar {
  width: 10%;
  height: 4px;
  background-color: #4d90fe;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.bottom-row {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.btn:hover {
  cursor: pointer;
}

.btn {
  color: inherit;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.btn-fill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1.2em;
  gap: 0.5rem;
  border-bottom: 1px solid #dadce0;
}
.btn-fill:hover,
.btn-fill:focus {
  color: #222222;
}
.btn-fill.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}
.btn-simple {
  color: #4285f4;
  border: 1px solid #dadce0;
  padding: 0.4rem 1.2rem;
  font-weight: 500;
  margin-right: 0.6rem;
  transition: all 0.2s;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #dadce023;
  border-color: transparent;
}
.btn-simple.active {
  color: white;
  background-color: #4285f4;
  border-color: #306dcf;
}

.btn-simple.active:hover,
.btn-simple:focus {
  color: white;
  background-color: #306dcf;
  border-color: #306dcf;
}
.btn-icon {
  border: none;
  font-size: 1rem;
  color: #8f8f8fb7;
}
.btn-icon:first-child {
  margin-right: 1.4rem;
}

.btn-icon:last-child {
  margin-right: 0.4rem;
}

input {
  letter-spacing: 0.1em;
  direction: rtl;
  width: 2em;
  font-size: inherit;
  border: none;
}
input:hover,
input:focus {
  border: none;
  outline: none;
}
label {
  font-size: 0.5em;
  margin-left: -0.5em;
}
audio {
  visibility: hidden;
}
.btn.invalid {
  pointer-events: none;
  background-color: #dadce0;
  border: none;
}
